.action-widget {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    .icon {
        background-size:contain;
        width:30px;
        height:30px;
        margin:10px 0px;
    }
}
.fb-icon {
    
    background-image:url(https://uxp.s3.amazonaws.com/public/images/facility-icon.png);
}


.room-booking {
    .modal-panel {
        min-width: 900px;
        max-width: 900px;
        ;
        height: 900px;
    }

    .home {

        // width:600px;
        // margin-left: auto;
        // margin-right:auto;
        .search {
            width: 300px;
        }

        .search-results {
            height: 300px;
            overflow: auto;

            .nodata {
                text-align: center;
                margin-top: 30px;
            }
        }

        .result {
            display: inline-block;
            margin: 20px;
            width: 170px;
            height: 220px;
            vertical-align: top;
            position: relative;

            .image {
                width: 150px;
                height: 150px;
                display: inline-block;
                background-size: cover;
                border-radius: 10px;
                cursor: pointer;
                background-color: rgba(128, 128, 128, 0.23);
            }

            .capacity {
                position: absolute;
                right: 25px;
                top: 122px;
                background-color: #FEFEFE;
                padding: 5px 20px;
                font-size: 10px;
                color: #424242;
                text-transform: uppercase;
                border-radius: 15px;
            }

            .name {
                margin: 10px 0px;
            }

        }

    }

    .select-date {
        // margin-top: 100px;
        > div {
            margin-bottom: 20px;
        }
    }
}

.facility-tooltip {
    display:inline-block;
    line-height:1.5em;
    max-width:400px;
    max-height:300px;
    white-space: pre;
    word-break: break-word;
    overflow:auto;
}
.sub-header {
    background-size: cover;
    display:flex;
    flex-direction: column;
    margin:-20px -20px 20px -20px;
    
    position:relative;
    height:100px;
    justify-content: center;
    &::before {
        content:'';
        position: absolute;
        background-color: rgba(126, 126, 205, 0.72);
        width:100%;
        height:100%;
        left:0px;
        top:0px;

    }
    .label {
        font-size:14px;
        color:white;
        z-index:1;
        margin-left:20px;
    }
}
.visitor-item {
    color: #424242;
}
.wm-status-step {
    .profile-image-container {
        width:20px;
        height:20px;
        display:flex;
        margin-right:5px;
        .name {
            font-size:7px;
        }
    }
}
.ahac-icon {
    background-image: url(https://uxp.s3.amazonaws.com/public/images/ahac.png);
    background-size: contain;
    width:100px;
    height:100px;
    margin-bottom:30px;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
}
.visitor-icon {
    background-image: url(https://uxp.s3.amazonaws.com/public/images/visitors.svg);
    background-size: contain;
    width:100px;
    height:100px;
    margin-bottom:30px;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
}